<div class="col-sm-3 sidenav no-padding">
    <div class="left">
        <div class="top form-group">
            <select class="form-control" id="select-type-chat">
                <option value="all-chat" data-target="#all-chat" selected>Toàn bộ trò chuyện</option>
                <option value="user-chat" data-target="#user-chat">Trò chuyện cá nhân</option>
                <option value="group-chat" data-target="#group-chat">Trò chuyện nhóm</option>
            </select>
            <a href="#groupChatModal" class="create-group-chat" data-toggle="modal"
                title="Tạo một nhóm trò chuyện mới"></a>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="all-chat">
                <ul class="people no-padding-start">
                    <% allConversationsWithMessages.forEach((conversation) => {
                        if(conversation.name) { %>
                    <a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
                        <li class="person group-chat" data-chat="<%= conversation._id %>">
                            <div class="left-avatar">
                                <!-- <div class="dot"></div> -->
                                <img src="https://pbs.twimg.com/profile_images/378800000532546226/dbe5f0727b69487016ffd67a6689e75a.jpeg"
                                    alt="">
                            </div>
                            <span class="name">
                                <% var MAX_LEN = 15; %>
                                <span
                                    class="group-chat-name"><%= (conversation.name.length <= MAX_LEN)?conversation.name:(conversation.name.slice(0, MAX_LEN) + "...") %></span>
                            </span>

                            <span class="time">
                                <% if(conversation.messages != undefined){ %>
                                    <% if(conversation.messages[conversation.messages.length-1] != undefined){ %>
                                <%= convertTimestampToHumanTime(conversation.messages[conversation.messages.length-1].createdAt) %>
                                <% }} %>
                            </span>
                            
                            <% if(conversation.messages != undefined) { %>
                                <% if(conversation.messages[conversation.messages.length-1] != undefined){ %>
                                    <% if(conversation.messages[conversation.messages.length-1].messageType == "text"){ %>
                                        <% var REVIEW_MAX_LEN = 30;
                                        var messageText = conversation.messages[conversation.messages.length-1].text;
                                        var review =  (messageText.length <= REVIEW_MAX_LEN)?messageText:(messageText.slice(0, REVIEW_MAX_LEN) + "...") %>
                                        <span class="preview"><%=review%></span>
                                    <% } else if(conversation.messages[conversation.messages.length-1].messageType == "file"){ %>
                                        <span class="preview">Đã gửi một file</span>
                                    <% } else if(conversation.messages[conversation.messages.length-1].messageType == "image"){ %>
                                        <span class="preview">Đã gửi một ảnh</span>
                                    <% } %>
                                <% } %>
                            <% } else { %>
                                <span class="preview"></span>
                            <% } %>
                        </li>
                    </a>
                    <% } else { %>
                    <a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
                        <li class="person" data-chat="<%= conversation._id %>">
                            <div class="left-avatar">
                                <div class="dot"></div>
                                <img src="images/users/<%= conversation.avatar %>" alt="">
                            </div>
                            <span class="name">
                                    <% var MAX_LEN = 15; %>
                                    <%= (conversation.username.length <= MAX_LEN)?conversation.username:(conversation.username.slice(0, MAX_LEN) + "...") %>
                            </span>
                            <span class="time">
                                    <% if(conversation.messages != undefined){ %>
                                        <% if(conversation.messages[conversation.messages.length-1] != undefined){ %>
                                    <%= convertTimestampToHumanTime(conversation.messages[conversation.messages.length-1].createdAt) %>
                                    <% }} %>
                            </span>
                            
                            <% if(conversation.messages != undefined) { %>
                                <% if(conversation.messages[conversation.messages.length-1] != undefined){ %>
                                    <% if(conversation.messages[conversation.messages.length-1].messageType == "text"){ %>
                                        <% var REVIEW_MAX_LEN = 30;
                                        var messageText = conversation.messages[conversation.messages.length-1].text;
                                        var review =  (messageText.length <= REVIEW_MAX_LEN)?messageText:(messageText.slice(0, REVIEW_MAX_LEN) + "...") %>
                                        <span class="preview"><%=review%></span>
                                    <% } else if(conversation.messages[conversation.messages.length-1].messageType == "file"){ %>
                                        <span class="preview">Đã gửi một file</span>
                                    <% } else if(conversation.messages[conversation.messages.length-1].messageType == "image"){ %>
                                        <span class="preview">Đã gửi một ảnh</span>
                                    <% } %>
                                <% } %>
                            <% } else { %>
                                <span class="preview"></span>
                            <% } %>
                        </li>
                    </a>
                    <% }
                     }); %>
                </ul>
            </div>

            <div class="tab-pane" id="user-chat">
                <ul class="people no-padding-start">
                        <% allConversationsWithMessages.forEach((conversation) => {
                            if(!conversation.name) { %>
                    <a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
                        <li class="person" data-chat="<%= conversation._id %>">
                            <div class="left-avatar">
                                <div class="dot"></div>
                                <img src="images/users/<%= conversation.avatar %>" alt="">
                            </div>
                            <span class="name">
                                <% var MAX_LEN = 15; %>
                                <%= (conversation.username.length <= MAX_LEN)?conversation.username:(conversation.username.slice(0, MAX_LEN) + "...") %>
                            </span>
                            <span class="time">
                                    <% if(conversation.messages != undefined){ %>
                                        <% if(conversation.messages[conversation.messages.length-1] != undefined){ %>
                                    <%= convertTimestampToHumanTime(conversation.messages[conversation.messages.length-1].createdAt) %>
                                    <% }} %>
                            </span>
                            
                            <% if(conversation.messages != undefined) { %>
                                <% if(conversation.messages[conversation.messages.length-1] != undefined){ %>
                                    <% if(conversation.messages[conversation.messages.length-1].messageType == "text"){ %>
                                        <% var REVIEW_MAX_LEN = 30;
                                        var messageText = conversation.messages[conversation.messages.length-1].text;
                                        var review =  (messageText.length <= REVIEW_MAX_LEN)?messageText:(messageText.slice(0, REVIEW_MAX_LEN) + "...") %>
                                        <span class="preview"><%=review%></span>
                                    <% } else if(conversation.messages[conversation.messages.length-1].messageType == "file"){ %>
                                        <span class="preview">Đã gửi một file</span>
                                    <% } else if(conversation.messages[conversation.messages.length-1].messageType == "image"){ %>
                                        <span class="preview">Đã gửi một ảnh</span>
                                    <% } %>
                                <% } %>
                            <% } else { %>
                                <span class="preview"></span>
                            <% } %>
                        </li>
                    </a>
                    <% } %>
                    <% }); %>
                </ul>
            </div>

            <div class="tab-pane" id="group-chat">
                <ul class="people no-padding-start">
                    <% allConversationsWithMessages.forEach((conversation) => {
                        if(conversation.name) { %>
                    <a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
                        <li class="person group-chat" data-chat="<%= conversation._id %>">
                            <div class="left-avatar">
                                <!-- <div class="dot"></div> -->
                                <img src="https://pbs.twimg.com/profile_images/378800000532546226/dbe5f0727b69487016ffd67a6689e75a.jpeg"
                                    alt="">
                            </div>
                            <span class="name">
                                <% var MAX_LEN = 15; %>
                                <span
                                    class="group-chat-name"><%= (conversation.name.length <= MAX_LEN)?conversation.name:(conversation.name.slice(0, MAX_LEN) + "...") %></span>
                            </span>
                            <span class="time">
                                    <% if(conversation.messages != undefined){ %>
                                        <% if(conversation.messages[conversation.messages.length-1] != undefined){ %>
                                    <%= convertTimestampToHumanTime(conversation.messages[conversation.messages.length-1].createdAt) %>
                                    <% }} %>
                            </span>
                            
                            <% if(conversation.messages != undefined) { %>
                                <% if(conversation.messages[conversation.messages.length-1] != undefined){ %>
                                    <% if(conversation.messages[conversation.messages.length-1].messageType == "text"){ %>
                                        <% var REVIEW_MAX_LEN = 30;
                                        var messageText = conversation.messages[conversation.messages.length-1].text;
                                        var review =  (messageText.length <= REVIEW_MAX_LEN)?messageText:(messageText.slice(0, REVIEW_MAX_LEN) + "...") %>
                                        <span class="preview"><%=review%></span>
                                    <% } else if(conversation.messages[conversation.messages.length-1].messageType == "file"){ %>
                                        <span class="preview">Đã gửi một file</span>
                                    <% } else if(conversation.messages[conversation.messages.length-1].messageType == "image"){ %>
                                        <span class="preview">Đã gửi một ảnh</span>
                                    <% } %>
                                <% } %>
                            <% } else { %>
                                <span class="preview"></span>
                            <% } %>
                        </li>
                    </a>
                    <% } %>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>